---
name: Publish Python Package

on:
  push:
    tags:
      - "v*"   # Runs only when you push a tag like v1.0.0

jobs:
  build-and-publish:
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install system dependencies
        run: sudo apt-get update && sudo apt-get install -y libxml2-dev libxslt-dev

      - name: Install build tools
        run: |
          python -m pip install --upgrade pip
          pip install build twine

      - name: Install test dependencies
        run: |
          pip install -e .
          pip install -r requirements-test.txt

      - name: Run tests
        run: pytest --maxfail=1 --disable-warnings -q

      - name: Build package
        run: python -m build

#      - name: Publish to PyPI
#        env:
#          TWINE_USERNAME: __token__
#          TWINE_PASSWORD: ${{ secrets.TEST_PYPI_API_TOKEN }}
#        run: twine upload --repository-url https://test.pypi.org/legacy/ dist/*
